
<div class="usa-footer__secondary-section">
	<div class="grid-container">
		<div class="grid-row grid-gap">
			<div class="usa-footer__logo grid-row mobile-lg:grid-col-6">
        {{ page.footer_secondary }}
			</div>
			<div class="usa-footer__contact-links mobile-lg:grid-col-6">
				<div class="footer-social-block">
					<!-- Social Media icons were removed in USAGOV-2374 -->
				</div>
			</div>
		</div>
	</div>
</div>

