{{ attach_library('usagov/ceo-contact-email') }}

<div class="border-left-1 border-gray-10 padding-left-2  margin-top-1">
  <p class="font serif-sm margin-y-0" id="display-official">
    Official's name<br>
    Official's position
  </p>
  <p id="button-alt"><strong>
      {{ content.field_ceo_contact_email|field_value }}:
    </strong></p>
</div>
